.select {
  display         : flex;
  align-items     : center;
  border-radius   : 5px;
  border-width    : 2px;
  border-style    : dashed;
  padding         : 2px 5px;
  color           : var(--color-btn);
  background-color: var(--color-btn-bg);
  border-color    : var(--color-btn-border);
  transition      : color 255ms, background-color 255ms, border-color 255ms;
}

.select:hover {
  color           : var(--color-btn-hover);
  background-color: var(--color-btn-bg-hover);
  border-color    : var(--color-btn-border-hover);
}