.tooltip {
  position        : fixed;
  color           : var(--color-tooltip);
  background-color: var(--color-tooltip-bg);
  font-size       : var(--font-size-tooltip);
  border-radius   : 5px;
  padding         : 5px;
  white-space     : nowrap;
  opacity         : 0;
  transition      : opacity 255ms;
}

.tooltip.open {
  opacity: 1;
}