.mod_form_view {
  width         : 100%;
  height        : 100%;
  display       : flex;
  box-sizing    : border-box;
  color         : white;
  gap           : 20px;
  padding       : 20px;
  background    : #00000055;
  flex-direction: column;
  user-select   : none;

  .title {
    margin: 0px;
  }

  .right_zone {
    display        : flex;
    flex-direction : column;
    align-items    : stretch;
    justify-content: center;
    flex           : 1;
    overflow       : hidden;
    position       : relative;

    .collapse {
      position              : absolute;
      top                   : 0;
      width                 : 100%;
      height                : 100%;
      border-radius         : 5px;
      overflow              : hidden;
      border-top-left-radius: 0px;
      background-color      : #000000;
      flex                  : 1;
    }

    .form_row {
      display   : flex;
      box-sizing: border-box;

      &>*:nth-child(1) {
        width: 120px;
      }

      &>*:nth-child(2) {
        flex: 1;
      }
    }

    .base_info {
      @extend .collapse;
      padding       : 10px 10px;
      gap           : 10px;
      display       : flex;
      flex-direction: column;
      border-radius : 5px;
      box-sizing    : border-box
    }

    .md_editor {
      @extend .collapse;
      padding: 10px 10px;
    }

    .md_editor>* {
      width : calc(100% - 20px);
      height: calc(100% - 20px);
    }

    .md_editor>*>* {
      border-radius: 5px;
      overflow     : hidden;
      width        : calc(100%);
      height       : calc(100%);
    }
  }


  .btn_normal {
    color: #FFFFFF88
  }

  .btn_actived {
    background-color          : #000000;
    border-top-right-radius   : 0px;
    border-bottom-right-radius: 0px;
  }

  .main {
    display : flex;
    flex    : 1;
    overflow: hidden;



    .txt_input {
      border          : none;
      outline         : none;
      background      : none;
      font-family     : inherit;
      color           : white;
      border-radius   : 5px;
      padding         : 2px 5px;
      background-color: var(--divider-color);
      box-sizing      : border-box;
      display         : flex;
      align-items     : center;
    }
  }
}