@import url(@/theme/common.module.scss);

.main_page {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  width         : 100%;

  --padding-t: 5px;
  --padding-r: 5px;
  --padding-b: 5px;
  --padding-l: 5px;

  &>.head {
    padding      : var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);
    border-bottom: 1px var(--divider-color) dashed;
    display      : flex;
    align-items  : center;
    position     : relative;
    gap          : 5px;

    &>* {
      flex-shrink: 0;
    }

    .btn_toggle_game_list {
      display: none;

      @media screen and (min-width: 0px) and (max-width: 480px) {
        display    : flex;
        flex-shrink: 0;
      }
    }

    .main_title {
      padding  : 0px var(--title-padding-right) 0px var(--title-padding-left);
      flex     : 1;
      position : relative;
      margin   : 0px 0px;
      font-size: 1.2em;
    }


  }

  &>.main {
    display    : flex;
    flex       : 1;
    align-items: stretch;
    height     : 0;

    .game_list {
      @media screen and (min-width: 0px) and (max-width: 480px) {
        display: none;
      }
    }

    .main_right {
      flex          : 1;
      display       : flex;
      flex-direction: column;
      width         : 0px;

      .game_desc_zone {
        padding      : 0px var(--title-padding-right);
        border-bottom: 1px var(--divider-color) dashed;

        .game_title {
          display      : flex;
          flex-wrap    : wrap;
          cursor       : pointer;
          user-select  : none;
          margin-bottom: 5px;
          margin-top   : 5px;
        }

        .game_desc {
          font-size: 12px;

          p {
            margin: 0px;
          }
        }

        .btn_span {
          font-weight: 900
        }
      }
    }

  }

  &>.foot {
    border-top     : 1px var(--divider-color) dashed;
    display        : flex;
    justify-content: center;
    padding        : 5px;
  }
}




.game_list_mask {
  .game_list {
    background-image: url(../../assets/img_bg.png);
    box-shadow      : 0px 5px 15px -3px rgba(0, 0, 0, 0.5);
    border-right    : none;
  }
}

.game_list {
  overflow      : auto;
  display       : flex;
  flex-direction: column;
  gap           : 5px;
  border-right  : 1px var(--divider-color) dashed;
  padding       : 5px;
  box-sizing    : border-box;
  flex-shrink   : 1;
}

.game_item {
  padding        : 5px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  transition     : all 255ms;
  cursor         : pointer;
  user-select    : none;
  border-radius  : 5px;
  white-space    : nowrap;
}

.game_item:hover {
  background-color: var(--primary-color-hover);
}

.game_item_actived {
  @extend .game_item;
  background-color: var(--primary-color-actived);
}

.changelog_md_modal {
  position        : fixed;
  display         : inline-block;
  box-shadow      : 0px 5px 15px -3px rgba(0, 0, 0, 0.5);
  border-radius   : 10px;
  background-color: var(--primary-color);
  box-sizing      : border-box;
  overflow        : hidden;
  transition      : all 220ms;
  max-width       : 100%;
  max-height      : 100%;

  >.right_top_zone {
    position   : absolute;
    right      : 0px;
    top        : 0px;
    display    : flex;
    padding    : 5px;
    align-items: center;
  }
}

.changelog_md_content {
  white-space: pre-wrap;
  overflow   : auto;
  padding    : 20px 20px;
  min-width  : 100px;
  min-height : 100px;
  max-height : calc(100vh - 100px);
  max-width  : calc(100vh - 100px);
  outline    : none;
}

.card_list {
  overflow       : auto;
  justify-content: flex-start;
  row-gap        : 15px;
  column-gap     : 15px;
  padding        : 20px 20px;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;

  @media screen and (min-width: 0px) and (max-width: 480px) {
    flex-wrap     : nowrap;
    align-items   : center;
    flex-direction: column;
  }
}

.version_list {
  overflow      : auto;
  display       : flex;
  flex-direction: column;
  gap           : 5px;
}