@use "@/theme/common.module.scss"as any;


.main_page {
  display       : flex;
  flex-direction: column;
  height        : 100%;
  width         : 100%;

  &>.head {
    border-bottom: 1px var(--color-divider) dashed;
    display      : flex;
    align-items  : center;
    position     : relative;
    flex-wrap    : wrap;

    &>* {
      flex-shrink: 0;
    }

    .btn_toggle_game_list {
      display: none;
    }

    .main_title {
      padding    : 0px 5px;
      flex       : 1;
      position   : relative;
      margin     : 0px 0px;
      white-space: nowrap;
    }

    .right_zone {
      @extend .actions_row;
    }

  }

  &>.main {
    display    : flex;
    flex       : 1;
    align-items: stretch;
    height     : 0;

    .game_list {
      position      : relative;
      overflow      : auto;
      overflow-x    : hidden;
      display       : flex;
      flex-direction: column;
      border-right  : 1px var(--color-divider) dashed;
      padding       : 5px;
      box-sizing    : border-box;
      flex-shrink   : 1;
      flex-basis    : 100px;
      flex-grow     : 0;
      width         : 100%;
      transition    : flex-basis 255ms, padding 255ms;
    }

    .game_list.close {
      flex-basis   : 0px;
      padding-left : 0px;
      padding-right: 0px;
      border-right : none;
      overflow     : hidden;
    }

  }

  &>.foot {
    border-top     : 1px var(--color-divider) dashed;
    color          : var(--color-secondary);
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    padding        : 5px;
  }
}

.game_list_mask {
  .game_list {
    padding-top     : 20px;
    background-image: url(../../assets/img_bg.png);
    box-shadow      : 0px 5px 15px -3px rgba(0, 0, 0, 0.5);
    border-right    : none;
    display         : flex;
    flex-direction  : column;

    &>button {
      padding: 10px 0px;
    }
  }
}

.game_item {
  padding        : 5px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  transition     : all 255ms;
  cursor         : pointer;
  user-select    : none;
  border-radius  : 5px;
  white-space    : nowrap;
}

.game_item:hover {
  background-color: var(--color-primary-hover);
}

.game_item_actived {
  @extend .game_item;
  background-color: var(--color-primary-actived);
}

.changelog_md_modal {
  position        : fixed;
  display         : inline-block;
  box-shadow      : 0px 5px 15px -3px rgba(0, 0, 0, 0.5);
  border-radius   : 10px;
  background-color: var(--color-primary);
  box-sizing      : border-box;
  overflow        : hidden;
  transition      : all 220ms;
  max-width       : 100%;
  max-height      : 100%;

  >.right_top_zone {
    position   : absolute;
    right      : 0px;
    top        : 0px;
    display    : flex;
    padding    : 5px;
    align-items: center;
  }
}

.changelog_md_content {
  white-space: pre-wrap;
  overflow   : auto;
  padding    : 20px 20px;
  min-width  : 100px;
  min-height : 100px;
  max-height : calc(100vh - 100px);
  max-width  : calc(100vh - 100px);
  outline    : none;
}

.card_list {
  overflow       : auto;
  justify-content: flex-start;
  row-gap        : 15px;
  column-gap     : 15px;
  padding        : 20px 20px;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;


}

.version_list {
  overflow      : auto !important;
  display       : flex !important;
  flex-direction: column !important;
}

:global(.small-screen) {
  .main {
    .game_list {
      display: none;
    }
  }

  .card_list {
    flex-wrap     : nowrap !important;
    align-items   : center !important;
    flex-direction: column !important;
  }

  .btn_toggle_game_list {
    display    : flex !important;
    flex-shrink: 0 !important;
  }
}