:global {
  .bytemd {
    .bytemd-status-right {
      >label {
        display: flex !important;
      }

      display: flex !important;
    }

    .bytemd-preview {
      a {
        color: inherit;
      }
    }
  }

  .bytemd-fullscreen {
    z-index: 100;
  }
}