.markdown_editor_view {

  :global(.bytemd) {
    height: 100%;
  }

  :global(.bytemd-status-right) {
    display: flex !important;

    &>label {
      display: flex !important;
    }
  }

  :global(.bytemd-preview) {
    a {
      color: inherit;
    }
  }

  :global(.bytemd-fullscreen) {
    z-index: 100;
    height : unset;
  }
}