@use "../../theme/common.module.scss"as *;

.dashboard {
  display       : flex;
  flex-direction: column;
  flex          : 1;
  justify-items : stretch;
  font-size     : 1rem;
  overflow      : hidden;

  .head {
    display      : flex;
    align-items  : center;
    gap          : 5px;
    padding      : 5px;
    border-bottom: 1px dashed var(--color-divider);

    .input {
      background-color: transparent;
      border          : transparent;
      outline         : transparent;
      color           : var(--color-txt);
      font-size       : 1rem;
      width           : 200px;
      text-align      : center;
      padding         : 5px 10px;
      box-sizing      : border-box;
    }
  }

  .record_list {
    @extend .scrollview;
    overflow      : auto;
    display       : flex;
    flex-direction: column;
    flex          : 1;
    align-items   : stretch;

    table {
      width          : fit-content;
      border-collapse: collapse;

      tr {
        border-bottom   : 1px dashed var(--color-divider);
        background-color: var(--color-table-row-bg-1);

        &:nth-child(2n+1) {
          background-color: var(--color-table-row-bg-2);
        }

        &:hover {
          background-color: var(--color-table-row-bg-hover);
        }

        td {
          padding    : 5px 8px;
          white-space: nowrap;

          span.picked {
            color: red;
          }
        }

        .small_td {
          overflow-wrap: anywhere;
          white-space  : normal;
        }

      }
    }

    .records {
      display       : flex;
      flex-direction: column;

      .record {
        box-sizing: border-box;
        padding   : 5px 8px;

        border-bottom   : 1px dashed var(--color-divider);
        background-color: var(--color-table-row-bg-1);

        &:nth-child(2n+1) {
          background-color: var(--color-table-row-bg-2);
        }

        &:hover {
          background-color: var(--color-table-row-bg-hover);
        }

        span.picked {
          color: red;
        }

        .time {
          opacity: 0.8;
        }

        .line_main {
          display    : flex;
          align-items: center;
          gap        : 10px;
          white-space: nowrap;
        }

        .line_sub {
          display     : flex;
          align-items : center;
          gap         : 10px;
          padding-left: 39px;
          white-space : nowrap;
          opacity     : 0.85;
        }

        .line_ua {
          padding-left : 39px;
          white-space  : normal;
          overflow-wrap: anywhere;
          opacity      : 0.85;
        }

        .host_cell {
          min-width: 200px;
        }

        .seq_cell {
          min-width: 60px;
        }

        .ip_cell {
          min-width: 110px;
        }

        .place_cell {
          min-width: 200px;
        }
      }
    }


  }
}