@use "../../theme/common.module.scss"as *;

.editor_view {
  --editor-border-color        : rgb(43, 43, 43);
  --vscode-tab-activeBackground: var(--vscode-breadcrumb-background);
  --editor-tab-height          : 40px;
  display                      : flex;
  flex-direction               : column;
  flex                         : 1;
  overflow                     : hidden;
  background-color             : rgb(24, 24, 24);


}

.editor_text_area_container {
  @extend .scrollview;
  flex      : 1;
  align-self: stretch;
  overflow  : auto;
  outline   : none;
  border    : none;
  position  : relative;
  z-index   : 0;
}

.editor_head {
  display      : flex;
  border-bottom: 1px solid var(--editor-border-color);
  position     : relative;
  z-index      : 0;
  box-sizing   : border-box;
}

.editor_tabs_row {
  @extend .scrollview;
  @extend .noscrollbar;
  margin-top: -1px;
  display   : flex;
  overflow-x: scroll;
  overflow-y: visible;
  box-sizing: border-box;
  position  : relative;
  z-index   : 10;
}

.editor_tab {
  height         : var(--editor-tab-height);
  transition     : background-color 120ms, border-color 120ms;
  display        : flex;
  align-items    : center;
  justify-content: center;
  gap            : 5px;
  padding        : 0px 5px 0px 15px;
  cursor         : pointer;
  user-select    : none;
  border-right   : 1px solid var(--editor-border-color);
  border-bottom  : 1px solid var(--editor-border-color);
  border-top     : 1px solid var(--editor-border-color);
  overflow       : hidden;
  word-break     : keep-all;
  white-space    : nowrap;
  flex-shrink    : 0;
  position       : relative;
  box-sizing     : border-box;
}

.empty_space {
  flex         : 1;
  border-bottom: 1px solid var(--editor-border-color);
}

.editor_tab:hover {
  background-color: var(--vscode-toolbar-hoverBackground);
}

.editor_tab.actived {
  border-top-color   : var(--vscode-focusBorder);
  position           : relative;
  z-index            : 1;
  background-color   : var(--vscode-tab-activeBackground);
  border-bottom-color: var(--vscode-tab-activeBackground);
}

.btn_close_tab {
  transition     : opacity 120ms, background-color 120ms;
  opacity        : 0;
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 20px;
  height         : 20px;
  border-radius  : 3px;
}

.btn_close_tab:hover {
  opacity         : 1;
  background-color: var(--vscode-toolbar-hoverBackground);
}

.editor_tab:hover>.btn_close_tab {
  opacity: 1;
}

.editor_tab.actived>.btn_close_tab {
  opacity: 1;
}