@use "../../theme/common.module.scss"as *;

html {
  --editor-list-item-bg                 : #00000000;
  --editor-list-item-bg-hover           : #2A2D2E;
  --editor-list-item-selection-bg       : #37373d;
  --editor-list-item-selection-bg-active: #0e395e;
  --editor-list-item-color              : #cccccc;
}

.editor_root {
  --editor-border-color        : rgb(43, 43, 43);
  --editor-background-color    : rgb(24, 24, 24);
  --vscode-tab-activeBackground: var(--vscode-breadcrumb-background);
  --editor-tab-height          : 40px;

  background-color: var(--editor-background-color);
  display         : flex;
  flex-direction  : column;
  flex            : 1;
  overflow        : hidden;
}

:global(#root) {
  .editor_root {
    width : 100%;
    height: 100%;
  }
}

.files {
  display       : flex;
  flex-direction: column;
  border-right  : 1px solid var(--editor-border-color);
}

.editor_main {
  display : flex;
  flex    : 1;
  overflow: hidden;
}

.second_view {
  display       : flex;
  overflow      : hidden;
  flex-direction: column;
  flex-shrink   : 1;
}