@use "./TreeItem.module.scss"as *;

.second_view_item {
  display       : flex;
  flex-direction: column;
  overflow      : hidden;
  flex-shrink   : 0;

  .content_zone {
    @extend .scrollview;
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: 1;
  }

  .content_zone.open {
    flex-basis: 0;
  }
}