@use "./TreeItem.module.scss"as *;

.second_view_item {
  display       : flex;
  flex-direction: column;
  overflow      : hidden;
  flex-shrink   : 0;
  color         : var(--editor-list-item-color);

  .content_zone {
    @extend .scrollview;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .content_zone.open {}

  .tree_item.open {
    .icon {
      transform: rotateZ(90deg);
    }
  }

}