@use "../../theme/common.module.scss"as *;

_flex_h_center {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.tree_item {
  cursor       : pointer;
  height       : 22px;
  line-height  : 22px;
  overflow     : hidden;
  display      : flex;
  align-items  : center;
  text-overflow: ellipsis;
  font-size    : 13px;
  flex-shrink  : 0;
  border-width : 1px;
  box-sizing   : border-box;
  user-select  : none;

  .left {
    padding-right: 6px;
    @extend _flex_h_center;

    .icon_wrapper {
      @extend _flex_h_center;

      .icon {
        height     : 13px;
        width      : 13px;
        display    : inline;
        user-select: none;
      }
    }
  }
}

.tree_item.selection {
  background-color: var(--editor-list-item-selection-bg);
}

.tree_item:hover {
  background-color: var(--editor-list-item-bg-hover);
}

.tree_item:focus {
  background-color: var(--editor-list-item-selection-bg-active);
}

.name {
  border          : 1px solid transparent;
  box-sizing      : border-box;
  line-height     : 22px;
  height          : 22px;
  color           : inherit;
  font-size       : inherit;
  font-family     : inherit;
  padding         : 0px;
  flex            : 1;
  background-color: transparent;
  outline         : none;
  border-radius   : 5px;
  vertical-align  : middle;
}

.name_input {
  @extend .name;
  user-select : all;
  border-color: var(--editor-list-item-selection-bg-active);
}