@use "../../theme/common.module.scss"as *;

html {
  --editor-list-item-bg                 : #00000000;
  --editor-list-item-bg-hover           : #2A2D2E;
  --editor-list-item-selection-bg       : #37373d;
  --editor-list-item-selection-bg-active: #0e395e;
}

.tree_item {
  cursor       : pointer;
  height       : 22px;
  line-height  : 22px;
  overflow     : hidden;
  display      : flex;
  align-items  : center;
  text-overflow: ellipsis;
  font-size    : 13px;
  flex-shrink  : 0;

  img {
    height: 13px;
  }
}

.tree_item:hover {
  background-color: var(--editor-list-item-bg-hover);
}