@use "../../theme/common.module.scss"as *;

.main_right {
  flex          : 1;
  display       : flex;
  flex-direction: column;
  width         : 0px;
}

.main {
  @extend .scrollview;
  flex          : 1;
  display       : flex;
  flex-direction: column;
  overflow      : auto;
  flex-shrink   : 0;
  height        : 100%;

  &>*:first-child {
    @extend .bg;
    position: fixed;
    top     : 0px;
    left    : 0px;
    right   : 0px;
    z-index : 1;
  }

  &>*:nth-child(2) {
    margin-top: 40px;
  }
}