@use "../../theme/common.module.scss"as *;

.main_right {
  flex          : 1;
  display       : flex;
  flex-direction: column;
  width         : 0px;
}

.main {
  @extend .scrollview;
  box-sizing    : border-box;
  flex          : 1;
  display       : flex;
  flex-direction: column;
  overflow      : auto;
  flex-shrink   : 0;
  height        : 100%;
  max-width     : 1000px;
  margin        : auto;
  border-left   : 1px var(--color-divider) dashed;
  border-right  : 1px var(--color-divider) dashed;

  &>*:first-child {
    @extend .bg;
    position     : absolute;
    top          : 0px;
    left         : 0px;
    right        : 0px;
    z-index      : 1;
    box-sizing   : border-box;
    border-bottom: 1px var(--color-divider) dashed;
  }

  &>:nth-child(2) {
    height    : 0px;
    border-top: none;
  }
}