@use "@/theme/common.module.scss"as *;

.info_view_root {
  overflow      : hidden;
  display       : flex;
  flex-direction: column;
  flex-shrink   : 0;

  &>* {
    flex-shrink: 0;
  }

  .suffix {
    opacity    : 0.75;
    font-size  : var(--font-size-tiny);
    display    : inline-block;
    margin-left: 2px;
  }

  .prefix {
    opacity     : 0.5;
    font-size   : var(--font-size-tiny);
    display     : inline-block;
    margin-right: 2px;
  }

  .tag {
    @extend .suffix;
    border-radius: 2px;
    border-width : 1px;
    border-style : solid;
    border-color : var(--color-txt);
    padding      : 1px;
  }



  &:not(:last-child) {
    border-bottom: 1px var(--color-divider) dashed;
  }

  .collapse_btn_hide {
    opacity       : 0;
    pointer-events: none;
  }

  &>.head {
    display      : flex;
    align-items  : center;
    overflow     : hidden;
    flex-wrap    : wrap;
    padding-right: var(--padding-r);
  }

  &>.head>.title {
    display    : flex;
    align-items: center;
    flex       : 1;
    flex-shrink: 0;
    margin     : 0;

    .title_link {
      height: var(--size-h-icon-btn, 1.8rem);
    }

    >* {
      overflow     : hidden;
      text-overflow: ellipsis;
      white-space  : nowrap;
    }
  }

  .head_right_zone {
    @extend .actions_row;


    .item {
      opacity        : 0.75;
      font-size      : var(--font-size-small);
      font-weight    : normal;
      overflow       : visible;
      display        : flex;
      align-items    : center;
      justify-content: center;
      width          : calc(var(--size-w-icon-btn) * 2 + 8);
      margin-right   : 5px;
    }

    .item:last-child {
      margin-right: 0px;
    }
  }


  .content_zone {
    box-sizing  : border-box;
    padding-left: var(--padding-l-align-w-icon-btn);
  }

  .children_title_div {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    height         : 0;
    user-select    : none;
    pointer-events : none;

    button {
      pointer-events         : all;
      --icon-letter-color    : var(--color-txt);
      --icon-letter-font-size: 12px;
      height                 : 16px;
      width                  : 16px;

      >* {
        pointer-events: none;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px var(--color-divider) dashed;
    }

    .children_title {
      &>span {
        background-color: var(--color-primary);
      }

      font-size   : 12px;
      line-height : 12px;
      height      : 12px;
      position    : absolute;
      z-index     : 1;
      display     : flex;
      align-items : center;
    }

  }
}


.card_list {
  align-self     : stretch;
  overflow       : auto;
  justify-content: flex-start;
  row-gap        : 15px;
  column-gap     : 15px;
  padding        : 20px 20px;
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  flex           : 1;
  align-items    : flex-start;
  align-content  : flex-start;

  @media screen and (min-width: 0px) and (max-width: 480px) {
    flex-wrap     : nowrap;
    align-items   : center;
    flex-direction: column;
  }
}

.version_list {
  overflow      : auto;
  align-self    : stretch;
  display       : flex;
  flex-direction: column;
  flex          : 1;
  gap           : 8px;
}