.scrollview {
  &::-webkit-scrollbar {
    width           : 8px;
    height          : 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background   : transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background   : var(--divider-color);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF88;
  }
}


.noscrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}



._transparent_border {
  border: 1px transparent solid;
}

._bottom_dash_line {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: var(--divider-color, black);
}