.scrollview::-webkit-scrollbar {
  width           : 8px;
  height          : 8px;
  background-color: transparent;
}

.scrollview::-webkit-scrollbar-track {
  background   : transparent;
  border-radius: 4px;
}

.scrollview::-webkit-scrollbar-thumb {
  background   : var(--color-divider);
  border-radius: 4px;
}

.scrollview::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF88;
}

.noscrollbar::-webkit-scrollbar,
.noscrollbar::-webkit-scrollbar-track,
.noscrollbar::-webkit-scrollbar-thumb,
.noscrollbar::-webkit-scrollbar-thumb:hover {
  display: none;
}

.transparent_border {
  border: 1px transparent solid;
}

.bottom_divider {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-divider, black);
}

.actions_row {
  margin-left    : auto;
  display        : flex;
  gap            : 8px;
  align-items    : center;
  justify-content: center;
}

.bg {
  background-color : var(--color-primary);
  background-image : url(../assets/img_bg.png);
  background-repeat: repeat;
}