.viewer {
  padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);

  video {
    display      : block;
    border-radius: 5px;
    margin       : 5px;
  }

  hr {
    border-width    : 1px;
    border-style    : dashed;
    border-top-width: 0px;
    margin          : 10px 0px;
    border-color    : var(--color-divider);
  }

  blockquote {
    background-color: #88888822;
    margin          : 5px 0px;
    padding         : 10px;
    border-radius   : 5px;
  }

  p {
    margin: 0px;
  }

  ul {
    padding: 0px;
    margin : 0px;

    li {
      display: flex;
      margin : 0px;
    }
  }

  :global {

    .iframe-ratio-container {
      position        : relative;
      width           : 100%;
      margin          : 0 auto;
      box-sizing      : content-box;
    }

    .ratio-16-9 {
      padding-bottom: 56.65%;
    }

    .iframe-ratio-container iframe {
      position     : absolute;
      top          : 0px;
      left         : 0px;
      width        : 100%;
      height       : 100%;
      border       : none;
      box-sizing   : border-box;
      border-radius: 10px;
      box-shadow   : 0px 5px 15px -3px rgba(0, 0, 0, 0.2)
    }
  }

}

.viewer.plain {
  padding: 2px;

  * {
    font-size: 1rem !important;
    padding  : 2px;
    margin   : 2px;
  }

  hr {
    padding: 0px;
  }
}