.top_bar {
  display: flex;
  border-bottom: #00000022 1px solid;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

:global(html.desktop) {
  .top_bar {
    height: 25px;
    min-height: 25px;
    max-height: 25px;
  }
}

:global(html.mobile) {
  .top_bar {
    padding: 5px 20px;
    overflow: hidden;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
}