.drawer {
  align-self: stretch;
  border-right: #00000022 1px solid;
  box-sizing: border-box;
  transition: opacity 255ms, width 200ms;
  position: relative;
  opacity: 1;
}

.drawer_dragging {
  transition: opacity 255ms;
}

.drawer_close {
  border-left: none;
  border-right: none;
  opacity: 0;
}

.drawer .resizer {
  touch-action: none;
  position: absolute;
  cursor: w-resize;
  transition: background-color 200ms;
}

.drawer .l_resizer {
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 5px;
}

.drawer .r_resizer {
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 5px;
}

:global(html.mobile) {
  .drawer .l_resizer {
    width: 20px;
  }

  .drawer .r_resizer {
    width: 20px;
  }
}

:global(html.desktop) {
  .drawer .resizer:hover {
    background-color: #00000022;
  }
}

.drawer .resizer_actived {
  background-color: #00000022;
}

.drawer .resizer_close {
  width: 0px;
}

.drawer .drawer_inner {
  overflow-x: auto;
  overflow-y: auto;
  width: calc(100% - 5px);
  height: 100%;
}

.drawer .drawer_inner::-webkit-scrollbar {
  display: none;
}

.drawer .drawer_inner_close {
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  height: 100%;
}