.loading_img_l {
  opacity       : 0;
  transition    : opacity 1000ms;
  object-fit    : none;
  user-select   : none;
  margin        : auto;
  display       : inline-block;
  width         : 132px;
  height        : 84px;
  pointer-events: none;
}

.loading_img_s {
  opacity       : 0;
  transition    : opacity 1000ms;
  object-fit    : none;
  user-select   : none;
  display       : inline-block;
  width         : 31px;
  height        : 21px;
  pointer-events: none;
}

.fixed {
  position : fixed;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

.loading_img_s.tiny {
  transform: scale(0.6);
}

.absolute.tiny,
.fixed.tiny {
  transform: translate(-50%, -50%) scale(0.6);
}

.absolute {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

.center {
  align-self: center;
}