@use "../../theme/common.module.scss"as *;

.mod_form_view {
  width         : 100%;
  height        : 100%;
  display       : flex;
  box-sizing    : border-box;
  color         : white;
  background    : #000000AA;
  flex-direction: column;
  user-select   : none;

  &.loading>div {
    opacity       : 0.3;
    pointer-events: none;
  }

  &>* {
    padding: 10px;
    @extend ._bottom_dash_line;
  }
}

.title {
  margin : 0px;
  display: flex;
}

.foot {
  display: flex;
}

.txt_input {
  border          : none;
  outline         : none;
  background      : none;
  font-family     : inherit;
  color           : white;
  border-radius   : 5px;
  padding         : 5px 5px;
  font-size       : 1rem;
  font-family     : inherit;
  background-color: var(--divider-color);
  box-sizing      : border-box;
  display         : flex;
  align-items     : center;
}

.main {
  display       : flex;
  flex-direction: column;
  align-items   : stretch;
  flex          : 1;
  overflow      : auto;
  position      : relative;
  padding       : 10px 10px;
  flex-shrink   : 0;
  gap           : 5px;
}

.main>* {
  flex-shrink: 0;
}

.form_row {
  display    : flex;
  box-sizing : border-box;
  align-items: center;

  &>*:nth-child(1) {
    width: 120px;
  }

  &>*:nth-child(2) {
    flex: 1;
  }
}

.upload_result {
  display: flex;
  gap    : 10px
}

.base_info {
  display       : flex;
  flex-direction: column;
  gap           : 5px;
  padding-left  : 28px;
}

.collapse_inner {
  padding-left: 28px;
}

.md_editor {
  height     : 400px;
  flex-shrink: 0;
}

.md_editor>* {
  width : 100% !important;
  height: 100% !important;
}

.md_editor>*>* {
  border-radius: 5px;
  overflow     : hidden;
  width        : calc(100%);
  height       : calc(100%);
}