@use "@/theme/common.module.scss"as *;


.mod_form_view {
  width         : 100%;
  height        : 100%;
  display       : flex;
  box-sizing    : border-box;
  color         : white;
  background    : #000000AA;
  flex-direction: column;
  user-select   : none;

  &.loading>div {
    opacity       : 0.3;
    pointer-events: none;
  }

  &>div {
    padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);
    @extend .bottom_divider;
  }
}

:global(.small-screen) {
  .mod_form_view {
    h1 {
      font-size  : 1.2rem;
      display    : flex;
      align-items: center;
    }

    h2 {
      font-size  : 1rem;
      display    : flex;
      align-items: center;
    }
  }
}


.foot {
  display: flex;
}

.txt_input {
  border          : none;
  outline         : none;
  background      : none;
  font-family     : inherit;
  color           : white;
  border-radius   : 5px;
  padding         : 5px 5px;
  font-family     : inherit;
  background-color: var(--color-divider);
  box-sizing      : border-box;
  display         : flex;
  align-items     : center;
}

.main {
  display       : flex;
  flex-direction: column;
  align-items   : stretch;
  flex          : 1;
  overflow      : auto;
  position      : relative;
  padding       : 10px 10px;
  flex-shrink   : 0;
  gap           : 5px;
}

.main>* {
  flex-shrink: 0;
}

.form_row {
  display    : flex;
  box-sizing : border-box;
  align-items: center;

  &>*:nth-child(1) {
    width: 120px;
  }

  &>*:nth-child(2) {
    flex: 1;
  }
}

.upload_result {
  display: flex;
  gap    : 10px
}

.collapse_inner {
  padding-left: var(--padding-l-align-w-icon-btn);
}

.base_info {
  @extend .collapse_inner;
  display       : flex;
  flex-direction: column;
  gap           : 5px;
}

.brief_editor {
  height     : 200px;
  flex-shrink: 0;
}

.md_editor {
  height     : 500px;
  flex-shrink: 0;
}

.brief_editor>*,
.md_editor>* {
  width : 100% !important;
  height: 100% !important;
}

.brief_editor>*>*,
.md_editor>*>* {
  border-radius: 5px;
  overflow     : hidden;
  width        : calc(100%);
  height       : calc(100%);
}

.url_row {
  display       : flex;
  flex-direction: row;
  align-items   : stretch;
  gap           : 5px;
}

.short_and_long {
  display       : flex;
  flex-direction: row;
  gap           : 5px;
  flex-wrap     : wrap;

  .short {
    @extend .txt_input;
    width: 100px;
  }

  .long {
    @extend .txt_input;
    flex: 1;
  }
}

.title_button {
  display        : flex;
  align-items    : center;
  justify-content: flex-start;
}

.title {
  margin : 0px;
  display: flex;
}