@import url(../../theme/common.module.scss);

.mine_page {
  display       : flex;
  flex-direction: column;
  flex          : 1;
  align-items   : stretch;

  div {
    display    : flex;
    align-items: stretch;
  }
}

._transparent_border {
  border: 1px transparent solid;
}

._bottom_dash_line {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: var(--divider-color, black);
}

.file_list_head {
  @extend ._transparent_border;
  @extend ._bottom_dash_line;
  display    : flex;
  align-items: stretch;
  overflow   : hidden;
  flex-shrink: 0;

  .breadcrumb {
    width      : 0px;
    display    : flex;
    align-items: stretch;
    flex       : 1;
    overflow   : auto;

    div {
      display    : flex;
      align-items: center;
      font-size  : 12px;
    }

    .breadcrumb_item {
      display    : flex;
      align-items: center;
      font-size  : 12px;
      padding    : 0px;
      color      : var(--txt-color);
      line-height: 12px;
      flex-shrink: 0;
      min-width  : 28px;
    }

    .breadcrumb_item.dragover {
      background-color: whitesmoke;
    }
  }
}

.file_list {
  display       : flex;
  flex-direction: column;
  overflow      : auto;
}

