@import url(../../theme/common.module.scss);

.mine_page {
  display       : flex;
  flex-direction: column;
  flex          : 1;
  align-items   : stretch;

  div {
    display    : flex;
    align-items: stretch;
  }
}

.transparent_border {
  border: 1px transparent solid;
}

.bottom_divider {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-divider, black);
}

.file_list_head {
  @extend .transparent_border;
  @extend .bottom_divider;
  display    : flex;
  align-items: stretch;
  overflow   : hidden;
  flex-shrink: 0;

  .breadcrumb {
    width      : 0px;
    display    : flex;
    align-items: stretch;
    flex       : 1;
    overflow   : auto;

    div {
      display    : flex;
      align-items: center;
    }

    .breadcrumb_item {
      display    : flex;
      align-items: center;
      padding    : 0px;
      color      : var(--color-txt);
      line-height: 12px;
      flex-shrink: 0;
      min-width  : 28px;
    }

    .breadcrumb_item.dragover {
      background-color: rgba(245, 245, 245, 0.219);
    }
  }
}

.file_list {
  @extend .transparent_border;
  display       : flex;
  flex-direction: column;
  overflow      : auto;
  flex          : 1;

  &:not(:last-child) {
    @extend .bottom_divider;
  }
}

.file_list.dragover {
  background-color: rgba(245, 245, 245, 0.219);
}

.file_list_foot {
  display       : flex;
  flex-direction: column;
  padding       : 5px;
  gap           : 5px;
}

.dragover {
  background-color: rgba(245, 245, 245, 0.137) !important;
  border          : 1px solid whitesmoke !important
}