:root {
  font-family                 : Consolas, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis              : none;
  text-rendering              : optimizeLegibility;
  -webkit-font-smoothing      : antialiased;
  -moz-osx-font-smoothing     : grayscale;
  --color-divider             : #ffffff1a;
  --color-link                : rgb(255, 255, 255);
  --color-link-hover          : rgb(255, 255, 255);
  --color-txt                 : rgb(255, 255, 255);
  --color-input               : rgb(255, 255, 255);
  --color-primary             : #10206C;
  --color-primary-hover       : #213492;
  --color-primary-actived     : #1b2a75;
  --color-tooltip-bg          : white;
  --color-tooltip             : black;
  --small-screen-width-min    : 0px;
  --size-w-icon-btn           : 1.8rem;
  --size-h-icon-btn           : 1.8rem;
  --font-size-txt             : 14px;
  --font-size-small           : 10px;
  --font-size-tiny            : 8px;
  --font-size-tooltip         : 12px;
  --padding-t                 : 5px;
  --padding-r                 : 5px;
  --padding-b                 : 5px;
  --padding-l                 : 5px;
  --padding-l-align-w-icon-btn: var(--size-w-icon-btn);


}

html.small-screen {
  --padding-l-align-w-icon-btn: var(--padding-l)
}


#root {
  height    : 100%;
  width     : 100%;
  transition: all 255ms;
  font-size : var(--font-size-txt);
  color     : var(--color-txt);
}

.scrollview {
  overflow: hidden;
}

.bg {
  background-color : var(--color-primary);
  background-image : url(./assets/img_bg.png);
  background-repeat: repeat;
}

.modal {
  border-radius: 10px;
  box-shadow   : 0px 5px 15px -3px rgba(0, 0, 0);
}

html {
  @extend .bg;
  height  : 100%;
  width   : 100%;
  padding : 0px;
  margin  : 0px;
  overflow: hidden;
}

body {
  padding        : 0px;
  margin         : 0px;
  height         : 100%;
  width          : 100%;
  overflow       : hidden;
  display        : flex;
  justify-content: center;
}

button {
  border         : none;
  background     : none;
  outline        : none;
  color          : var(--color-txt);
  border-radius  : 5px;
  padding        : 3px 5px;
  transition     : all 200ms;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

a {
  color      : var(--color-link);
  transition : all 200ms;
  padding    : 0px;
  display    : inline-flex;
  align-items: center;

  &>img {
    display       : inline-block;
    user-select   : none;
    pointer-events: none;
  }
}


a:hover:not(:disabled),
button:hover:not(:disabled) {
  border-radius   : 5px;
  background-color: var(--color-divider);
}

a:disabled,
button:disabled {
  opacity: 0.5;
}