:root {
  // font-family             : Monaco, Menlo, Consolas, "Droid Sans Mono", "Inconsolata", "Courier New", monospace;
  font-family             : Consolas, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis          : none;
  text-rendering          : optimizeLegibility;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  --divider-color         : #FFFFFF22;
  --link-color            : rgb(176, 185, 231);
  --link-color-hover      : #FFFFFFFF;
  --txt-color             : #8393e4FF;
  --input-color           : rgb(176, 185, 231);
  --primary-color         : #10206C;
  --primary-color-hover   : #213492;
  --primary-color-actived : #1b2a75;
  --small-screen-width-min: 0px;
  --icon-button-width     : 1.8rem;
  --icon-button-height    : 1.8rem;
}

#root {
  height    : 100%;
  width     : 100%;
  transition: all 255ms;
}

.scrollview {
  overflow: hidden;
}

.bg {
  background-color : var(--primary-color);
  background-image : url(./assets/img_bg.png);
  background-repeat: repeat;
  color            : var(--txt-color);
}

.modal {
  border-radius: 10px;
  box-shadow   : 0px 5px 15px -3px rgba(0, 0, 0);
}

html {
  @extend .bg;
  height  : 100%;
  width   : 100%;
  padding : 0px;
  margin  : 0px;
  overflow: hidden;
}

body {
  padding        : 0px;
  margin         : 0px;
  height         : 100%;
  width          : 100%;
  overflow       : hidden;
  display        : flex;
  justify-content: center;
}

button {
  border         : none;
  background     : none;
  outline        : none;
  color          : white;
  border-radius  : 5px;
  padding        : 3px 5px;
  transition     : all 200ms;
  display        : flex;
  align-items    : center;
  justify-content: center;
  font-size      : 1rem;
}

a {
  color      : var(--link-color);
  transition : all 200ms;
  padding    : 0px;
  display    : inline-flex;
  align-items: center;

  &>img {
    display       : inline-block;
    user-select   : none;
    pointer-events: none;
  }
}


a:hover:not(:disabled),
button:hover:not(:disabled) {
  border-radius   : 5px;
  background-color: var(--divider-color);
}

a:disabled,
button:disabled {
  opacity: 0.5;
}